body{
    background-color: forestgreen;
}

#contenedor{
    background-color: darkorange;
    height:700px;
    width:100%;
}

#superior{
    background-color: brown;
    height:50px;
}

#medio{
    background-color: chartreuse;
    height: 500px;
    width:100%;
}

#izquierdo{
    background-color: darkkhaki;
    height: 500px;
    width:7%;
    float: left;
}
#derecho{
    background-color:rgb(232, 232, 189);
    height: 500px;
    width:90%;
    float:left;
}